{% extends "base.html" %}


{% block content %}


<style>

.card{

    border:none;
    border-radius:15px;
    box-shadow:0px 4px 12px rgba(0,0,0,0.1);

}


.chart-container{

    width:350px;
    height:350px;
    margin:auto;

}


.table{

    background:white;

}


.badge{

    font-size:14px;

}

</style>



<h1 class="text-center mb-5">

🚀 Software Supply Chain Risk Scorer

</h1>



<!-- Summary Cards -->


<div class="row">


<div class="col-md-3">

<div class="card bg-primary text-white">

<div class="card-body text-center">

<h5>Total Apps</h5>

<h2>{{summary.total_applications}}</h2>

</div>

</div>

</div>




<div class="col-md-3">

<div class="card bg-success text-white">

<div class="card-body text-center">

<h5>Dependencies</h5>

<h2>{{summary.total_dependencies}}</h2>

</div>

</div>

</div>




<div class="col-md-3">

<div class="card bg-danger text-white">

<div class="card-body text-center">

<h5>Risky</h5>

<h2>{{summary.total_risky}}</h2>

</div>

</div>

</div>




<div class="col-md-3">

<div class="card bg-warning">

<div class="card-body text-center">

<h5>Clean</h5>

<h2>{{summary.total_clean}}</h2>

</div>

</div>

</div>


</div>





<br><br>



<!-- Risk Chart -->


<div class="card p-4">


<h3 class="text-center">

Risk Distribution

</h3>


<div class="chart-container">

<canvas id="riskChart"></canvas>

</div>


</div>





<br><br>



<!-- Application Ranking -->


<div class="card p-4">


<h3>

🏢 Application Risk Ranking

</h3>


<table class="table table-bordered mt-3">


<tr class="table-dark">

<th>Rank</th>

<th>Application</th>

<th>Total Risk Score</th>

<th>Severity</th>


</tr>



{% for app in applications %}


<tr>


<td>

{{loop.index}}

</td>


<td>

{{app.name}}

</td>


<td>

{{app.score}}

</td>


<td>


<span class="badge bg-danger">

{{app.severity}}

</span>


</td>


</tr>


{% endfor %}



</table>


</div>





<br><br>



<!-- Dependency Table -->


<div class="card p-4">


<h3>

⚠️ Top Risky Dependencies

</h3>


<table class="table table-bordered table-hover mt-3">


<tr class="table-dark">


<th>Application</th>

<th>Library</th>

<th>Version</th>

<th>Risk Score</th>

<th>Severity</th>

<th>Status</th>


</tr>



{% for dep in dependencies %}


<tr>


<td>{{dep.app_name}}</td>


<td>{{dep.library_name}}</td>


<td>{{dep.version}}</td>


<td>{{dep.risk_score}}</td>


<td>


<span class="badge bg-danger">

CRITICAL

</span>


</td>


<td>

{{dep.status}}

</td>


</tr>


{% endfor %}



</table>


</div>






<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>


const ctx=document.getElementById('riskChart');



new Chart(ctx,{


type:'pie',



data:{


labels:[

"Risky Dependencies",

"Clean Dependencies"

],



datasets:[{


data:[

{{summary.total_risky}},

{{summary.total_clean}}

]


}]


},



options:{


responsive:true,

maintainAspectRatio:false


}



});



</script>



{% endblock %}