{% extends "base.html" %}

{% block content %}

<div class="card p-4">

    <h2>🛡 Vulnerability Explorer</h2>

    <p class="text-muted">
        View vulnerable software components detected by the SBOM Risk Engine.
    </p>
    <div class="row mb-4">

    <div class="col-md-4">

        <div class="card bg-danger text-white">

            <div class="card-body text-center">

                <h5>🔴 Critical Vulnerabilities</h5>

                <h2>{{critical_count}}</h2>

            </div>

        </div>

    </div>


    <div class="col-md-4">

        <div class="card bg-warning text-dark">

            <div class="card-body text-center">

                <h5>🟠 High Vulnerabilities</h5>

                <h2>{{high_count}}</h2>

            </div>

        </div>

    </div>


    <div class="col-md-4">

        <div class="card bg-info text-dark">

            <div class="card-body text-center">

                <h5>🟡 Medium Vulnerabilities</h5>

                <h2>{{medium_count}}</h2>

            </div>

        </div>

    </div>

</div>
    <input
        type="text"
        id="searchInput"
        class="form-control mb-4"
        placeholder="Search CVE or Library..."
        onkeyup="searchTable()"
    >

    <table class="table table-bordered table-hover" id="vulnTable">

        <thead class="table-dark">

        <tr>

            <th>Library</th>
            <th>Version</th>
            <th>Risk Score</th>
            <th>Severity</th>
            <th>Status</th>

        </tr>

        </thead>

        <tbody>

        {% for dep in dependencies %}

        <tr>

            <td>{{ dep.library_name }}</td>

            <td>{{ dep.version }}</td>

            <td>{{ dep.risk_score }}</td>

            <td>

                {% if dep.severity=="CRITICAL" %}

                <span class="badge bg-danger">CRITICAL</span>

                {% elif dep.severity=="HIGH" %}

                <span class="badge bg-warning text-dark">HIGH</span>

                {% else %}

                <span class="badge bg-success">MEDIUM</span>

                {% endif %}

            </td>

            <td>

                <span class="badge bg-danger">

                    Vulnerable

                </span>

            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

<script>

function searchTable(){

let input=document.getElementById("searchInput");

let filter=input.value.toUpperCase();

let table=document.getElementById("vulnTable");

let tr=table.getElementsByTagName("tr");

for(let i=1;i<tr.length;i++){

let td=tr[i].getElementsByTagName("td")[0];

if(td){

let txt=td.textContent;

if(txt.toUpperCase().indexOf(filter)>-1){

tr[i].style.display="";

}

else{

tr[i].style.display="none";

}

}

}

}

</script>

{% endblock %}